/* Styling for photos */
.photo {
    position: relative;
    text-align: center;
}
.photo picture {
    max-height: 30vh;
    max-width: 100% !important;
    height: auto !important;
}
.photo figcaption {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}

/* Base styling for a row of images that expand to fill the screen. */
.photorow {
    display: flex;
    line-height: 0;
    align-items: center;
    justify-content: center;
}
.photorow > div {
    margin: 0px;
}
.photorow img {
    margin: 5px;
    max-height: 35vh;
    max-width: 100% !important;
    height: auto !important;
}
.photorow figcaption {
    display: none;
}
