
@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Regular.ttf)
}

html,
body {
    font: 16px/24px "Open Sans", sans serif;
    font-style: normal;
    font-variant: normal;
    height: 100%;
}

#fullpage {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

h1 { font-size: 26px; font-weight: 700; line-height: 28.4px; }
h2 { font-size: 23px; font-weight: 700; line-height: 24.4px; }
h3 { font-size: 20px; font-weight: 700; line-height: 22.4px; }
h4 { font-size: 16px; font-weight: 700; line-height: 18.4px; }
p { font-size: 16px; font-weight: 400; line-height: 20px; text-align: justify; text-justify: auto; }
a { font-size: 16px; font-weight: 400; line-height: 20px; color: #072F26; text-decoration: none; }
blockquote { font-size: 14px; font-weight: 700; line-height: 20px; }
pre { font-size: 13px; font-weight: 400; line-height: 18.5714px; }
figcaption { font-size: 14px; font-weight: 700; line-height: 20px; }

/* ------ Site Header styling ------ */
.site-header {
    width: 100%;
    height: 100px;
    color: #072F26;
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-header-body {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
}

.site-header-body h1 {
    text-shadow: 2px 2px 4px #C7DDDA;
}

.site-header-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.site-header-menu-item {
    width: 100px;
}

.site-header-menu-item h4 {
    margin: 0px;
}

/* ------ Page Header styling ------ */
.page-header {
    display: flex;
    flex-direction: column;
}
.page-header h3 {
    max-width: 750px;
    margin: 0 auto;
    padding-bottom: 10px;
}
.page-header h4 {
    max-width: 750px;
    margin: 0 auto;
    padding-bottom: 10px;
}

main {
    flex: 1;
}

article h2 {
    max-width: 750px;
    margin: 0 auto;
    padding-top: 1em;
    padding-bottom: 10px;
}
article h3 {
    max-width: 750px;
    margin: 0 auto;
    padding-bottom: 10px;
}
article h4 {
    max-width: 750px;
    margin: 0 auto;
    padding-bottom: 10px;
}

article p {
    max-width: 750px;
    margin: 0 auto;
    padding-bottom: 1em;
    padding-left: 3em;
    padding-right: 3em;
}

article blockquote {
    margin: 0px;
    padding-left: 12%;
    padding-right: 12%;
    background-color: #C7DDDA;
}


article > figure {
    margin: 0px;
}

article > figure h4 {
    margin-top: 1em;
    margin-bottom: 0px;
}

.list-map {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.list-map > div {
    flex: 1;
}

.map {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.list-entries {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.map svg {
    width: 100%;
    height: 50vh;
    margin: 1em;
}

.list-entry {
    height: 180px;
    position: relative;
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 8px;
}

@media only screen and (max-width:600px) {
    .list-entry {
        height: 80px;
        position: relative;
        margin: 5px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        border-radius: 8px;
    }
    .list-entry-content p {
        display: none;
    }   
}

.list-entry a {
    display: block;
    height: 100%;
}
.list-entry img {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    border-radius: 8px;
}
.list-entry-content {
    float: left;
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding-left: 5px;

    color: white;
    text-shadow: 2px 2px 4px #000000;
}
.list-entry-content h4 {
    margin: 0px;
    font-size: 16px;
}
.list-entry-content p {
    margin-top: 0px;
    margin-bottom: 5px;
    font-weight: 200;
    font-size: 14px;
}

/* Styling for images across the articles.
   Use the hugo 'figure' directive to include a title underneath by default */
figure {
    position: relative;
    text-align: center;
}
figure img {
    max-height: 30vh;
    max-width: 100% !important;
    height: auto !important;
}
figure figcaption h4 {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}

/* Base styling for a row of images that expand to fill the screen. */
.photorow {
    display: flex;
    line-height: 0;
    align-items: center;
    justify-content: center;
}
.photorow > div {
    margin: 0px;
}
.photorow img {
    max-height: 35vh;
    max-width: 100% !important;
    height: auto !important;
}
.photorow figcaption {
    display: none;
}

/* Images come with a lightbox mode. */
.nolightbox {
    display: block;
    height: 100%;
    line-height: 0;
}
.lightboxed {
    display: none;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
}
.lightboxed img {
    max-width: 90%;
    max-height: 80%;
    margin-top: 10%;
}
.lightboxed figcaption {
    display: block;
    position: relative;
    text-align: center;
    color: white;
}
.lightboxed:target {
    outline: none;
    display: block;
}


/* ------ Page Footer styling ------ */
.page-footer {
    display: flex;
    flex-direction: row;
    padding: 5px;
}
.page-footer div {
    display: flex;
    font-size: 14px;

    -webkit-box-flex: 1;
    -ms-flex: 1;
        flex: 1;
}
.page-footer p {
    font-size: 14px;
}
.page-footer a {
    font-size: 14px;
}
.page-footer .previous {
    align-items: center;
    justify-content: left;
}
.page-footer .center {
    align-items: center;
    justify-content: center;
}
.page-footer .next {
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
}

/* ------ Site Footer styling ------ */
.site-footer {
    background-color: #072F26;
    color: white;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-footer-body {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex: 1;
}

.site-footer-body h4 {
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    margin: 15px;
}
.site-footer-body p {
    font-size: 14px;
    font-weight: 300;
    line-height: 14px;
    margin: 5px;
}
.site-footer-body a {
    font-size: 14 px;
    color: #C7DDDA;
}
.site-footer-copyright {
    font-size: 10px;
    text-align: center;
}
.site-footer-copyright a {
    font-size: 10px;
    color: #C7DDDA;
}