{{ define "main" }}
<main>
    <article>
        {{ .Content }}
    </article>
    <nav class="list-map">
    <div class="map">
        {{ with .Params.Map }}
            <script src="/js/svg-inject.min.js"></script>
            <script>
                    SVGInject.setOptions({makeIdsUnique: false});
                    var defaultStrokeValues = {};
                    var defaultFillValues = {};

                    function selectElements(ids, selectedColour, setStrokeAndFill) {
                        ids.forEach(function (id) {
                            elem = document.getElementById(id)
                            if (elem === null) {
                                return;
                            }
                            if (setStrokeAndFill) {
                                defaultStrokeValues[id] = elem.getAttribute("stroke");
                                elem.setAttribute("stroke", selectedColour);
                            }
                            defaultFillValues[id] = elem.getAttribute("style");
                            elem.setAttribute("style", "fill:" + selectedColour);
                        });
                    };
                    function deselectElements(ids, setStrokeAndFill) {
                        ids.forEach(function (id) {
                            elem = document.getElementById(id);
                            if (elem === null) {
                                return;
                            }
                            var defaultStrokeValue = defaultStrokeValues[id];
                            if (setStrokeAndFill && defaultStrokeValue !== "") {
                                elem.setAttribute("stroke", defaultStrokeValue);
                            }
                            elem.setAttribute("style", defaultFillValues[id]);
                        });
                    };
            </script>
            {{ range .files }}
            <img src="/{{ . }}" onload="SVGInject(this)"/>
            {{ end }}
        {{ else }}
            <script>
                // Do nothing we if we have no map to load
                function selectElements(ids) {};
                function deselectElements(ids) {};
            </script>
        {{ end }}
    </div>
    <div class="list-entries">
        {{ if .Parent }}
            <!-- Ranges through all pages of a given trip section -->
            {{ range .Pages.ByDate }}
                {{ .Render "li" }}
            {{ end }}
        {{ else }}
            <!-- Ranges through all trip sections -->
            {{ range .Sections.ByDate.Reverse }}
                {{ .Render "li" }}
            {{ end }}
        {{ end }}
    </div>
    </nav>
</main>
{{ end }}
