<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content = {{ .Site.Params.Author.firstname }} {{ .Site.Params.Author.lastname }}>
    <meta name="description" content = {{ .Site.Params.description }}>

    <link rel="stylesheet" href="{{ "css/normalize.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}" />

    {{- if .HasShortcode "map" -}}
    <link rel="stylesheet" href="https://unpkg.com/maplibre-gl@4.7.0/dist/maplibre-gl.css" crossorigin="anonymous">
    <script src="https://unpkg.com/maplibre-gl@4.7.0/dist/maplibre-gl.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/pmtiles@4.2.1/dist/pmtiles.js"></script>
    <script src="https://unpkg.com/protomaps-themes-base@4/dist/protomaps-themes-base.js" crossorigin="anonymous"></script>
    {{- end -}}

    {{- if .HasShortcode "svgmap" -}}
    <script src="/js/svg-inject.min.js"></script>
    {{- end -}}

    {{- if .HasShortcode "lightbox" -}}
    <link rel="stylesheet" href="{{ "css/lightbox.css" | relURL }}" />
    {{- end -}}

    {{- if .HasShortcode "photo" -}}
    <link rel="stylesheet" href="{{ "css/photo.css" | relURL }}" />
    {{- end -}}

    {{- if .HasShortcode "photogallery" -}}
    <link rel="stylesheet" href="{{ "photoswipe/photoswipe.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "photoswipe/photoswipe-dynamic-caption-plugin.css" | relURL }}" />
    {{- end -}}

    {{- if not .Parent -}}
    <title>{{ .Title }}</title>
    {{- else -}}
    <title>{{ .Parent.Title }}: {{ .Title }}</title>
    {{- end -}}
</head>
