<nav class="page-footer">
{{ if .IsPage }}
    <div class="previous">
        {{ with .PrevInSection }}
        <p>Back to <a href="{{.Permalink}}">{{.Title}}</a></p>
        {{ end }}
    </div>
    <div class="center">
        {{ with .Parent }}
        <p>Up to <a href="{{.Permalink}}">{{.Title}}</a></p>
        {{ end }}
    </div>
    <div class="next">
        {{ with .NextInSection }}
        <p>On to <a href="{{.Permalink}}">{{.Title}}</a></p>
        {{ end }}
    </div>
{{ end }}
</nav>
