{{ define "main" }}
<main>
    <style>
    {{ with .Resources.GetMatch "header" }}
    header {
        background: url( {{ .Permalink }}) center no-repeat;
    }
    {{ end }}
    </style>
    <article>
        <header>
            <div>
                <h1 id="title">{{ .Title }}</h1>
                <h4 id="date"> {{ .Date.Format "Mon Jan 2, 2006" }} </h4>
            </div>
        </header>
        <div class=text>
        {{ .Content }}
        </div>
    </article>
</main>
<nav class=nav-footer>
    <div class=previous>
        {{ with .PrevInSection }}
        <p>Back to <a href="{{.Permalink}}"> {{.Title}}</a></p>
        {{ end }}
    </div>
    <div class=center>
        {{ with .Parent }}
        <p>Up to <a href="{{.Permalink}}"> {{.Title}}</a></p>
        {{ end }}
    </div>
    <div class=next>
        {{ with .NextInSection }}
        <p>On to <a href="{{.Permalink}}"> {{.Title}}</a></p>
        {{ end }}
    </div>
</nav>
{{ end }}